* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-size:15px;
	font-family: Georgia, serif;
}

#menu {
	position: fixed;
	display: inline-block;
	font-size: 0.9em;
	left: +25%;
	right: +25%;
	background: none;
	text-align: center;
	border-bottom: 2px solid grey;
	font-style: italic;
}
#menu a {
	text-decoration: none;
	color: grey;
	font-size: 4em;	
	padding: 0.5em;
	font-style: italic;
	text-align: center;
	}
#menu a:hover {
	color: black;
}
#pagedaccueil {
	min-height: 100vh;
	padding: 70px;
}
#pagedaccueil h2 {
	padding-top: 30px;
	font-size: 1.7em;
	color: grey;
	font-style: italic;
	text-align: center;
}
.contributor {
	border-radius: 50%;
}
#pagedaccueil p {
	font-size: 1em;
	color: grey;
	text-align: center;
	font-style: italic;
	}
#presentation {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 50px;
	padding-bottom: 30px;
}

#contributors {
	float: left;
	width: 30%;
	margin: 3% 10%;
}
#leslivresenvrac {
	min-height: 100vh;
	padding: 7% 5% 5% 5%;
	margin: auto; 
}
#banner img {
	height: 6vh;
	padding: 0;
}
#banner {
	display: center;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 10vh;
}
.amazon {
	float: right;
}
.smiley {
	float: right;
}
#leslivresenvrac h2 {
	font-size: 1.3em;
	color: grey;
	font-family: Georgia, serif;
	font-style: italic;
	text-decoration: none;
}
#leslivresenvrac p {
	text-align: center;
	font-size: 0.9em;
	color: grey;
	font-family: Georgia, serif;
	font-style: italic;
	text-decoration: none;
}
#semaine {
	float: left;
	width: 300px;
}
.livre {
	min-height: 40vh;
	padding-left: 25%;
}
#b {
	min-height: 40vh;
}
#a {
	padding: 5px;
    text-align: center;
    min-height: 20vh;
	/** border: 2px solid grey;**/
}

	/** border: 2px solid grey;**/
